.env
.idea
.vs_code
.DS_Store
node_modules

# Local .terraform directories
**/.terraform/*
terraform/terraform.tfvars
terraform/plan.json
terraform/plan.tfplan

# .tfstate files
*.tfstate
*.tfstate.*

# GCP SA Key
sauce-comm-slack-gcf-s-znre.json